html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#container {
	min-height: 100%;
	position: relative;
	padding: 0;
}

nav {
	margin: 0 !important;
	border-radius: 0 !important;
}

.navbar-brand, .navbar-right li a {
	color: #fff !important;
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#user-info-div {
	flex-direction: column;
}

#landing-page, #login-form-div, #register-form-div {
	height: 560px;
}

#landing-page {
	background: url('../img/camping.jpg') center center no-repeat;
	background-size: cover;
	width: 100%;
}

#landing-div {
	text-align: center;
	line-height: 90px;
}

#landing-div h1, #landing-div h2 {
	color: #fff;
	text-shadow: 0 0 10px #000;
}

#landing-div h1 {
	font-size: 50px;
}

.flex-form, .edit-account-form {
	flex: 0 1 400px;
	height: 60%;
	border: 1px solid #bbb;
	box-shadow: 5px 5px 10px #ddd;
	border-radius: 10px;
	padding: 20px;
}

#reg-form {
	height: 85%;
}

#login-form {
	margin-top: -20px;
}

#edit-camp-form {
	margin-top: 33px;
	padding: 20px;
}

#add-camp-form {
	margin-top: 35px;
}

#edit-comment-form {
	margin-top: 90px;
}

#main-heading-div {
	padding-bottom: 25px;
	height: 100%;
	margin: 30px auto;
	width: 80%;
}

#main-heading {
	flex-direction: column;
}

.camp-thumbnails img {
	height: 150px;
	width: 100%;
}

#description {
	resize: none;
	height: 100px;
}

#camp-info-div {
	flex-direction: column;
	padding: 20px;
	margin-bottom: 30px;
}

.camp-description {
	padding-bottom: 10px;
}

.camp-img, .camp-comments {
	width: 60%;
}

.camp-img img {
	width: 100%;
}

#comment-box {
	resize: none;
}

#user-password {
	outline: 0;
	border: none;
	background: none;
}

#delete-user-btn {
	margin: 0 auto;
	display: block;
}

#user-info-table {
	width: 50%;
	margin-top: 120px;
}

.table tbody > tr > td.vert-aligned {
    vertical-align: middle;
}

.table tbody > tr > td.centered {
    text-align: center;
}

.change-sm-btn {
	display: none;
}

.edit-btn {
	margin-right: 5px;
}

.edit-account-form {
	margin-top: 115px;
}

#search-email-form {
	margin-top: 150px;
}

#edit-password-form {
	margin-top: 40px;
	margin-bottom: 100px;
}

footer {
	background: #101010;
	position: absolute;
	padding: 15px;
	width: 100%;
	height: 50px;
	right: 0;
	bottom: 0;
	left: 0;
}

footer p {
	color: #fff;
}

@media only screen and (max-width: 1371px) {
	#register-form-div {
		margin-bottom: 45px;
	}
}

@media only screen and (max-width: 981px) {
	.camp-img, .camp-comments {
		width: 80%;
	}
}

@media only screen and (max-width: 780px) {
	#main-heading-div {
		width: 70%;
		padding: 0 0 25px 0;
	}

	.camp-thumbnails img {
		width: 100%;
		height: 50%;
	}
}

@media only screen and (max-width: 486px) {
	.camp-img, .camp-comments {
		width: 90%;
	}
}

@media only screen and (max-width: 421px) {
	#main-heading-div {
		width: 85%;
	}
}

@media only screen and (max-width: 408px) {
	#add-camp-form {
		margin-top: 35px;
	}
}

@media only screen and (max-width: 396px) {
	#add-camp-form h3 {
		font-size: 20px;
	}
}

@media only screen and (max-width: 360px) {
	#user-info-table {
		font-size: 12px;
	}

	.change-sm-btn {
		display: block;
	}

	.change-lg-btn {
		display: none;
	}
}

@media only screen and (max-width: 336px) {
	#login-form {
		flex: 0 1 100%;
		margin: 0;
	}

	#login-btns, #reg-btns {
		float: none !important;
	}

	#login-cancel-btn, #reg-cancel-btn {
		float: right;
	}
}

@media only screen and (max-width: 349px) {
	#login-form {
		margin-bottom: 45px;
	}

	footer p {
		font-size: 12px;
	}
}

@media only screen and (max-width: 322px) {
	#register-link {
		font-size: 14px;
	}
}

@media only screen and (max-width: 314px) {
	#registered-link {
		font-size: 12px;
	}

	#add-camp-form h3 {
		font-size: 17px;
	}
}

@media only screen and (max-width: 310px) {
	#reg-form {
		height: 90%;
	}
}

@media only screen and (max-width: 298px) {
	#registered-link {
		font-size: 11px;
	}

	#add-camp-form h3 {
		font-size: 16px;
	}

	footer p {
		font-size: 10.5px;
	}
}

@media only screen and (max-width: 279px) {
	#reg-form {
		height: 90%;
	}
}